.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 850px;
  width: 100%;
  margin: 20px auto;
}

.btn {
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid blueviolet;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: rgba(138, 43, 226, 0.15);
}

.textWrapper {
  display: flex;
  justify-content: space-between;
}

.numBox {
  width: 25%;
  padding: 10px;
  border: 1px solid red;
  transition: all 0.3s;
}

.numBox:hover {
  background-color: rgba(0, 0, 0, 0.15);
}